# Rust
/target/
Cargo.lock
.env
.DS_Store
local.properties
.idea
/gradle/wrapper
.gradle
**/build/
.idea/
*.iml
*.log
.kotlin/
build/
gradlew


# API Keys - DO NOT COMMIT
**/MapConfig.kt
**/generated/source/mapconfig/
